[Unit]
Description=Gearman Prometheus Exporter
After=network.target

[Service]
Type=simple
User=ansible
Group=ansible
ExecStart=/usr/local/sbin/gearman-exporter --addr 0.0.0.0:9418
Restart=always

[Install]
WantedBy=multi-user.target