import gear
from etcd3 import Client
import subprocess
from systemd import journal
import json

worker = gear.Worker("{{ ansible_hostname }}")
for server in {{ groups['gearman-server'] }}:
    journal.send(f"Registering function 'register' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("register")

client = Client('127.0.0.1', 2379)

while True:
    job = worker.getJob()
    function = job.name
    source = job.arguments.decode().split()[0]
    groups = job.arguments.decode().split()[1]
    journal.send(f"{function}==>{source}==>{groups}")
    client.put(source, groups)
    job.sendWorkComplete()

