import gear
from etcd3 import Client
from systemd import journal

worker = gear.Worker("{{ ansible_hostname }}")
for server in {{ groups['gearman-server'] }}:
    journal.send(f"Registering function 'inventory' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("inventory")

client = Client('127.0.0.1', 2379)

while True:
    job = worker.getJob()
    function = job.name
    arguments = {}
    for details in job.arguments.decode().replace("--","").split():
        key, value = details.split("=")
        arguments[key] = value
    journal.send(f"{arguments}")
    client.put(arguments["source"], arguments["roles"])
    job.sendWorkComplete()

