[Unit]
Description=Gearman Inventory Worker
After=network.target

[Service]
Type=simple
User=ansible
Group=ansible
ExecStart=python3 /opt/gearman-inventory.py
Restart=always

[Install]
WantedBy=multi-user.target