import gear
import subprocess
from systemd import journal

worker = gear.Worker("{{ ansible_hostname }}")
for server in {{ groups['gearman-server'] }}:
    journal.send(f"Registering function 'ansible' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("ansible")

while True:
    job = worker.getJob()
    function = job.name
    arguments = {}
    for details in job.arguments.decode().replace("--","").split():
        key, value = details.split("=")
        arguments[key] = value
    journal.send(f"{arguments}")

    source = arguments["source"]
    subprocess.run(f"ansible-playbook --inventory '/etc/ansible/inventory.py' --limit '{source}' /etc/ansible/generic.yml", shell=True)
    job.sendWorkComplete()
