import gear
import socket
import json
from etcd3 import Client
from systemd import journal

worker = gear.Worker(socket.gethostname())
for server in {{ groups['gearman-server'] | shuffle(seed=ansible_hostname) }}:
    journal.send(f"Registering function 'inventory' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("inventory")

client = Client('127.0.0.1', 2379)

while True:
    job = worker.getJob()
    payload = json.loads(job.arguments.decode())
    journal.send(json.dumps(payload))
    client.put(payload['source'], json.dumps(payload['roles']))
    job.sendWorkComplete()
