import gear
import socket
import subprocess
import json
from systemd import journal

worker = gear.Worker(socket.gethostname())
for server in {{ groups['gearman-server'] }}:
    journal.send(f"Registering function 'ansible' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("ansible")

while True:
    job = worker.getJob()
    payload = json.loads(job.arguments.decode())
    journal.send(json.dumps(payload))
    source = payload['source']
    subprocess.run(f"ansible-playbook --inventory '/etc/ansible/inventory.py' --limit '{source}' /etc/ansible/generic.yml", shell=True)
    job.sendWorkComplete()
