import gear
import subprocess
from systemd import journal

worker = gear.Worker("{{ ansible_hostname }}")
for server in {{ groups['gearman-server'] }}:
    journal.send(f"Registering function 'ansible' with gearman server {server}")
    worker.addServer(f"{server}")
worker.registerFunction("ansible")

while True:
    job = worker.getJob()
    function = job.name
    source = job.arguments.decode().split()[0]
    role = job.arguments.decode().split()[1]
    journal.send(f"{function}==>{source}==>{role}")
    subprocess.run(f"ansible-playbook --inventory '/etc/ansible/inventory/inventory.yml' -e "role={role}" -l "{source}" /etc/ansible/generic.yml", shell=True)
    job.sendWorkComplete()
