[Unit]
Description=Etcd
After=network.target

[Service]
Type=simple
User=ansible
Group=ansible
WorkingDirectory=/home/ansible
ExecStart=/usr/bin/etcd {{ etcd_exec }}
Restart=always

[Install]
WantedBy=multi-user.target