[Unit]
Description=Etcd
After=network.target

[Service]
Type=simple
User=ansible
Group=ansible
WorkingDirectory=/home/ansible
ExecStart=/usr/bin/etcd \
  --name {{ ansible_hostname }} \
  --initial-advertise-peer-urls http://{{ hostvars[ansible_hostname]['address'] }}:2380 \
  --listen-peer-urls http://{{ hostvars[ansible_hostname]['address'] }}:2380 \
  --listen-client-urls http://{{ hostvars[ansible_hostname]['address'] }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ hostvars[ansible_hostname]['address'] }}:2379 \
  --initial-cluster-token etcd_cluster_1 \
  --initial-cluster "{% for node in groups['gearman-etcd'] %}{{ node }}=http://{{ hostvars[node]['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}" \
  --initial-cluster-state new
Restart=always

[Install]
WantedBy=multi-user.target