#!/usr/bin/python3

import sys
import gear

client = gear.Client()
for server in {{ groups['gearman-server'] | shuffle(seed=ansible_hostname) }}:
    client.addServer(f"{server}", 4730)

try:
    client.waitForServer(60)
    job = gear.Job("inventory", b"--source={{ ansible_hostname }} --roles={% for role in ansible_local['roles'] | default([]) %}{{ role }}{% if not loop.last %},{% endif %}{% endfor %}")
    client.submitJob(job)
except TimeoutError:
    sys.exit(1)
else:
    sys.exit(0)
