#!/usr/bin/python3


import json
import subprocess

roles={{ roles }}

f = open('/etc/ansible/facts.d/roles.fact')
data = json.load(f)
f.close()

command = []
command.append("whiptail")
command.append("--title")
command.append("Check assigned roles")
command.append("--checklist")
command.append("Choose roles")
command.append("20")
command.append("50")
command.append("10")

for role in roles:
  command.append(role)
  command.append(role)
  if role in data:
    command.append("ON")
  else:
    command.append("OFF")

whiptail = subprocess.run(command, stderr=subprocess.PIPE, text=True)
enabled = whiptail.stderr.replace("\"","").split()

if not whiptail.returncode:
  with open("/etc/ansible/facts.d/roles.fact", "w") as outfile:
    json.dump(enabled, outfile)