[Unit]
Description=Gearman Ansible Worker
After=network.target

[Service]
Environment="PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python"
Type=simple
User=ansible
Group=ansible
ExecStart=python3 /usr/local/sbin/gearman-ansible.py
Restart=always

[Install]
WantedBy=multi-user.target