[Unit]
Description=Gearman Ansible Worker
After=network.target

[Service]
Type=simple
ExecStart=python3 /opt/gearman.py 172.16.1.10
Restart=always

[Install]
WantedBy=multi-user.target