[Unit]
Description=Gearman Ansible Worker
After=network.target

[Service]
EnvironmentFile=/etc/default/gearman-worker
Type=simple
ExecStart=python3 /opt/gearman.py $SERVERS
Restart=always

[Install]
WantedBy=multi-user.target